:root {
  --maim-dark-backgraund-color: #2f303a;
  --main-blue-color: #2196f3;
  --main-font-color: #212121;
  --main-white-color: #fff;
  --second-white-color-for-background: #f5f4fa;
  --second-color-for-text: #757575;
  --border-color: #eeeeee;
  --background-for-icons: #f5f4fa;

  /* Paadding and marging */
  --header-top-bottom-padding: 32px;
  --our-works-list-of-examples-marging-right: 30px;
  --inside-padding-for-section: 94px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body * {
  font-style: inherit;
  font-family: Roboto, sans-serif;
}
.link,
.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--main-blue-color);
}

p,
h1,
h2,
h3,
ul,
li {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.section {
  padding: var(--inside-padding-for-section) 0px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Хэдер */

/* Навигация по сайту */
header {
  border-bottom: 1px solid #ececec;
}
header .container {
  display: flex;
  background-color: var(--main-white-color);

  align-items: center;

  padding: var(--header-top-bottom-padding);
}
header nav {
  display: flex;
}

.logo-header {
  color: var(--main-blue-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;

  letter-spacing: 0.03em;
}

.logo-text-studio {
  color: var(--main-font-color);
}
.list-of-nav {
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-members {
  list-style: none;
  margin-left: 90px;
}
.list-of-nav a :not(:last-child) {
  margin-right: 50px;
}
.list-of-nav a {
  color: var(--main-font-color);
}
header .contacts {
  display: flex;
  align-items: flex-end;
  list-style: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
  margin-left: auto;
}
header .contacts :not(:last-child) {
  margin-right: 50px;
}
header .contacts a {
  color: var(--second-color-for-text);
}
header .icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--second-color-for-text);
  margin-right: 10px;
}
header .icon-phone {
  text-align: center;
  justify-content: center;
  width: 10px;
  height: 16px;
  fill: var(--second-color-for-text);
  margin-right: 10px;
}

.icon-mail :hover,
.icon-phone :hover {
  fill: var(--main-blue-color);
}
/*Основная часть*/

/* Секция с кнопкой заказа */
.section-with-order {
  background: url('../images/background-photo.jpg') rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  height: 480px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border: 0px;
  margin-left: auto;
  margin-right: auto;

  padding: 200px 0 210px;
  text-align: center;
}
.button-with-order {
  padding: 6px 22px;
}

.effective-desidion {
  color: var(--main-white-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 30px;
}
.button-with-order {
  background-color: var(--main-blue-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;

  border: 0px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Секция наших преимуществ*/
.our-advantage {
  padding-top: var(--inside-padding-for-section);
}
.our-advantage-list {
  display: flex;
  list-style: none;
}

.our-advantage-list :not(:last-child) {
  margin-right: 30px;
}

.our-advantage-members {
  width: 270px;
}
.our-advantage-titels {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.our-advantage-main-text {
  color: var(--second-color-for-text);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;
}
.advantage-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-for-icons);
  border-radius: 4px;
  margin-bottom: 30px;
}
.advntage-img svg {
  fill: var(--second-color-for-text);
}
/*Секция чем мы занимаемся*/

.what-we-are-doing-section {
  padding: var(--inside-padding-for-section) 0px;
}
.what-we-are-doing-title {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.what-we-are-doing-list {
  display: flex;
  list-style: none;
}
.what-we-are-doing-img {
  width: 370px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin-left: 30px;
}
.what-we-are-doing-img:first-child {
  margin-left: 0px;
}

/*Секция нашей команды*/

.our-team-section {
  background-color: var(--second-white-color-for-background);
  border: 0px;
  padding: var(--inside-padding-for-section) 0px;
}
.our-team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
  list-style: none;
}
.members-of-the-team {
  background-color: var(--main-white-color);

  width: 270px;
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-of-the-team:first-child {
  margin-left: 0px;
}
.members-of-the-team-text-block {
  margin: 30px 0px;
}
.members-name {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 119%;

  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.member-of-the-team-proffesion {
  color: var(--second-color-for-text);
  text-align: center;
  margin-bottom: 16px;
}
/* ICONS */
.our-team-section .contacts {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}
.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* background-color: red; */
}

.our-team-list .contacts :not(:last-child) {
  margin-right: 10px;
}

.team__icon {
  fill: var(--second-color-for-text);
}
.team__link:hover .team__icon {
  fill: var(--main-white-color);
}
.team__link:hover {
  background: var(--main-blue-color);
}

/* Постоянные клиенты */

.our-clients {
  background-color: var(--main-white-color);
  border: 0px;
  padding: var(--inside-padding-for-section) 0px;
  text-align: center;
}

.our-clients h2 {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.list-of-logos {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-of-logos a {
  display: block;
}
.list-of-logos li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.list-of-logos :not(:last-child) {
  margin-right: 30px;
}
.logos-icon {
  fill: black;
}
.logos-icon :hover {
  fill: var(--main-blue-color);
}

/* Футер */

footer {
  background-color: var(--maim-dark-backgraund-color);
}
footer .container {
  display: flex;
}
.footer-block {
  padding: 60px 0px 60px;
}
.logo-webstudio-footer {
  padding-bottom: 20px;
}
.logo-footer {
  color: var(--main-blue-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 119%;

  letter-spacing: 0.03em;
}
.logo-webstudio-footer .logo-text-studio {
  color: var(--main-white-color);
}
.footer-section :not(:last-child) {
  margin-bottom: 9px;
}
.adsress-footer {
  font-style: normal;
  font-weight: normal;
  color: var(--main-white-color);
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;
}
.mail-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;

  color: var(--second-color-for-text);
}
.tel-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;

  color: var(--second-color-for-text);
}
.logo-text-studio-footer {
  color: var(--main-white-color);
}
.join-us {
  margin-left: 70px;
  padding: 72px 0 0;
}
.join-us p {
  color: var(--main-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .contacts {
  display: flex;
  list-style: none;
}
footer .contacts :not(:last-child) {
  margin-right: 10px;
}
footer .contacts a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
footer .contacts a:hover {
  background: var(--main-blue-color);
}
footer .contacts svg {
  fill: var(--main-white-color);
}

/* СТРАНИЦА ПОРТФОЛИО */

.our-works-section {
  background-color: var(--main-white-color);
  margin-left: auto;
  margin-right: auto;
}
.our-works-section-block {
  padding: var(--inside-padding-for-section) 0px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-works-list-of-filter {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}

.our-works-list-filters-button {
  font-family: Roboto;
  color: var(--main-font-color);
  background-color: var(--second-white-color-for-background);
  border-radius: 4px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;

  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-right: 8px;
}
.our-works-list-filters-button:hover,
.our-works-list-filters-button:focus {
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}
/* СЕКЦИЯ С РАБОТАМИ */

.our-works-list-of-examples {
  font-family: Roboto;
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--our-works-list-of-examples-marging-right));
  margin-top: calc(-1 * var(--our-works-list-of-examples-marging-right));
}

.our-works-list-of-examples-members {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--our-works-list-of-examples-marging-right);
  margin-top: var(--our-works-list-of-examples-marging-right);
  width: 370px;

  background: var(--main-white-color);
  border: 1px solid var(--border-color);
}
.our-works-list-of-examples-members :focus,
.our-works-list-of-examples-members :hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px 24px;
}
.our-works-list-of-examples-members-title {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;

  letter-spacing: 0.06em;
  text-align: left;
}
.our-works-list-of-examples-members-text {
  color: var(--second-color-for-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187%;

  letter-spacing: 0.03em;
  margin-top: 4px;
}
